* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;}


    body{
        background-color: #202124;
        color: #bdc1c6
    }


    /* aqui le estoy dando estilo al a primera parte del header */ 
    .header {
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
        padding-bottom: 1.4rem;
    }


    .contenedor_img {
        width: 100%;
        margin-top: 1rem;
        margin-left: 1rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .logo{
        width: 120px; 
        height: auto;   
         }

         
    .volver_a {
        color: #f28b82;
        margin-right: 3rem;
        text-decoration: none;
    }

    


    .advance_p{
        font-size: 20px;
        color: #f28b82;
        margin-left: 3rem;
        margin-top: 1.8rem;
    }
    

    /*AQUI TERMINO TODO */


   .form_contenedor{
    width: 60%;
    color: #969ba1;
    margin: 2rem 3rem;
    width: 60%;
    padding: 2rem;  
   } 

   /* AQUI ESTILOS AL TITULO Y SUB TITLE*/

   .contenedor_title{

    display: grid;
    grid-template-columns: 200PX 1fr;
    gap: 44rem;
    color: white;
   }

   .input_1{
    display: grid;
    grid-template-columns: 200px 1fr 400px;
    margin-top: 2rem;
    gap: 3rem;
   }

   .input {
    padding: 5px 0;
    width: 100%;
    font-size: 16px;
    border: transparent;
    background-color: #202124;
    color: #e8eaed;
    outline: none;
    
   }

   .input:focus {


    border: 1px solid #4285f4;
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
    transition: all 0.2s ease-in-out;
}